* {
    margin: 0;
    padding: 0;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar {
    position:fixed;
    width: 100%;
    padding: 15px 0;
    background: #237cf0;
    font-family: 'Google Sans';
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 25px;
    font-weight: bold ;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-left: 25px;
}


/* fonts web */
h2 {
    font-family: 'Google Sans';
    font-weight: normal;
    font-style: normal;
}